<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <nav class="navbar" th:fragment="navbar">
        <a href="/dashboard" class="logo">Skillspace</a>
        <ul class="nav-links">
            <li><a th:href="@{/dashboard}">Home</a></li>
            <li sec:authorize="hasAuthority('FREELANCER')"><a th:href="@{/gigs/my-gigs}">My Gigs</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li>
                <form th:action="@{/logout}" method="post"><button type="submit" class="logout-button">Logout</button></form>
            </li>
        </ul>
    </nav>
</body>
</html>