<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>About Us - Skillspace</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <h1>About Skillspace</h1>
        <p>Welcome to Skillspace, the premier platform connecting talented freelancers with clients who need their skills. Our initiative is to create a seamless and trustworthy environment for collaboration.</p>
        <h2>Contact Us</h2>
        <p>Email: contact@skillspace.test</p>
        <p>Phone: 123-456-7890</p>
    </div>
</body>
</html>